<header class="site-header">
    <div class="site-branding">
        {{/* Use the bulletproof .Site.Home.Permalink variable for the main site link */}}
        <h1><a href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a></h1>
    </div>
    <nav class="site-navigation">
        {{/* And use it for the "Home" navigation link as well */}}
        <a href="{{ .Site.Home.Permalink }}">Home</a>
        <a href="{{ "posts/" | relURL }}">Posts</a>
        <a href="{{ "about/" | relURL }}">About</a>
    </nav>
</header>